<div main class="container">
  <form name="form" novalidate ng-submit="save()">
    <div class="row">
      <div class="form-group form-group-sm">
        <label class="control-label">
          Bookmark URL<span class="red">&nbsp;*</span>
        </label>

        <input type="text" placeholder="Enter bookmark URL" name="url" ng-model="bookmark.url" required>
      </div>
    </div>
    <div ng-show="form.url.$error.required">
      <p class="has-error">Bookmark URL required</p>
    </div>

    <div class="row">
      <div class="form-group form-group-sm">
        <label class="control-label">
          Bookmark Title<span class="red">&nbsp;*</span>
        </label>

        <input type="text" placeholder="Enter bookmark title" name="url" ng-model="bookmark.url" required>
      </div>
    </div>
    <div ng-show="form.url.$error.required">
      <p class="has-error">Bookmark Title required</p>
    </div>

    <div class="row">
      <div class="form-group form-group-sm">
        <label class="control-label">
          Tags: (separated by commas)
        </label>

        <input type="text" placeholder="Enter bookmarks tags" name="url" ng-model="bookmark.url" required>
      </div>
    </div>

    <div class="row">
      <input type="submit" class="btn btn-success btn-lg">Save</input>
      <button class="btn btn-default btn-lg" ng-click="cancel">Cancel</button>
    </div>
  </form>
</div>
